<div class="bgsub-info">
    <div class="bgprime" style="height: 44px;background-color: #ffffff;border-bottom: 1px solid #e0e0e0;"> </div>
    <div class="container">        
        <div class="row " style="margin-top:-34px">
            <ul ngbNav #nav="ngbNav" [(activeId)]="crtab" class="nav-tabs" [destroyOnHide]="false">

                <li [ngbNavItem]="1">
                  <a ngbNavLink class="w150 fn fn-07e">Location Management </a>
                  <ng-template ngbNavContent>
                    <appmaps-locationline (selln)="selln($event)"></appmaps-locationline>
                  </ng-template>
                </li>

                <li [ngbNavItem]="2">
                    <a ngbNavLink class="w200 fn fn-07e">Location {{crlocation}} modify </a>
                    <ng-template ngbNavContent>
                        <appmaps-locationmodify #modify></appmaps-locationmodify>
                    </ng-template>
                  </li>

                  <li [ngbNavItem]="3">
                    <a ngbNavLink class="w150 fn fn-07e">Location generate </a>
                    <ng-template ngbNavContent>
                        <appmaps-locationgenerate></appmaps-locationgenerate>
                    </ng-template>
                  </li>

              </ul>
              
              <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
    </div>
</div>