<div class="bgsub-info">
    <div class="bgprime" style="height: 44px;background-color: #ffffff;border-bottom: 1px solid #e0e0e0;"> </div>
    <div class="container">
        <div class="row " style="margin-top:-34px">
            <ul ngbNav #nav="ngbNav" [(activeId)]="crtab" class="nav-tabs" [destroyOnHide]="false">
                <li [ngbNavItem]="1">
                    <a ngbNavLink class="fn fn-07e">Warehouse </a>
                    <ng-template ngbNavContent>

                        <div class="row mg-0 fnb fn-07e">
                            <div class="col-md-7">
                                <div class="lsset ">
                                    <div class="head">
                                        <div class="row mg-0 ln ">
                                            <div class="col-md-2 ">Code </div>
                                            <div class="col-md-6 ">Name</div>
                                            <div class="col-md-2 ">Start</div>
                                            <div class="col-md-2 text-truncate">State</div>
                                        </div>
                                    </div>
                                    <div class="line bgsub-head fnb dgline ">
                                        <ng-scrollbar>
                                            <div class="row mg-0 ln " *ngFor="let ln of lswarehouse" (click)="ngSelc(ln)">
                                                <div class="col-md-2 text-danger">{{ln.sitecode}}</div>
                                                <div class="col-md-6 fn fn-palette-6">{{ln.sitename}}</div>
                                                <div class="col-md-2 ">{{ln.datestart | date : dateformat}} </div>
                                                <div class="col-md-2 "><span class="fa {{getIcon(ln.tflow)}}"></span>&nbsp;{{getDesc(ln.tflow)}} </div>
                                            </div>
                                        </ng-scrollbar>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="lsset ">
                                    <div class="head">
                                        <div class="row mg-0 ln ">
                                            <div class="col-md-8 ">Warehouse Configuration</div>
                                            <div class="col-md-4 ">
                                                <div class="mp" (click)="ngNew()"><i class="fas fa-plus-circle"></i>&nbsp;New Warehouse</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="linebx bgsub-head fnb dgline ">
                                        <div class="row mg-0 ln">
                                            <div class="col-md-3">Organization</div>
                                            <div class="col-md-9 text-danger">BigC Supercenter</div>
                                        </div>
                                        <div class="row mg-0 ln">
                                            <div class="col-md-3 lh-07e"><span class="text-danger">Code</span><br>Warehouse</div>
                                            <div class="col-md-9">
                                                <input class="form-control form-control-sm fnb text-danger " type="text" placeholder="value" [(ngModel)]="cr.sitecode" *ngIf="cr.tflow == 'NW'">
                                                <div class="pdt-5 text-danger" *ngIf="cr.tflow != 'NW'">{{cr.sitecode}}</div>
                                            </div>
                                        </div>
                                        <div class="row mg-0 ln">
                                            <div class="col-md-3 lh-07e"><span class="text-danger">Name</span><br>Warehouse</div>
                                            <div class="col-md-9"><input class="form-control form-control-sm fnb text-danger " type="text" placeholder="value" [(ngModel)]="cr.sitename"></div>
                                        </div>
                                        <div class="row mg-0 ln">
                                            <div class="col-md-3 lh-07e"><span class="text-danger">Alternate Name</span><br>Warehouse</div>
                                            <div class="col-md-9"><input class="form-control form-control-sm fnb text-danger " type="text" placeholder="value" [(ngModel)]="cr.sitenamealt"></div>
                                        </div>
                                        <div class="row mg-0 ln" *ngIf="cr.tflow == 'NW'">
                                            <div class="col-md-3 lh-07e"><span class="text-danger">Code</span><br>Authorize</div>
                                            <div class="col-md-9"><input class="form-control form-control-sm fnb text-danger " type="text" placeholder="value" [(ngModel)]="cr.sitekey"></div>
                                        </div>
                                        <!-- <div class="row mg-0 ln">
                                        <div class="col-md-3 lh-07e"><span class="text-danger">Type</span><br>Operate</div>
                                        <div class="col-md-9">
                                            <ng-select class=" text-danger"  class="custom custom-sm" bindLabel="value" bindvalue="value" 
                                            [clearable]="false"  [(ngModel)]="slrowlmt" [items]="lsrowlmt"  >
                                                <ng-template ng-label-tmp let-item="item"><span class="text-danger b">{{item.value}}</span> </ng-template>
                                                <ng-template ng-option-tmp let-item="item"><span class="text-danger b">{{item.value}}</span> </ng-template>
                                            </ng-select>
                                        </div>
                                    </div> -->
                                        <div class="row mg-0 ln">
                                            <div class="col-md-3 lh-07e"><span class="text-primary">Start</span><br>Date</div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control text-danger fnb" name="dp" ngbDatepicker #dateplanfrom="ngbDatepicker" placeholder="{{dateformat}}" [(ngModel)]="cr.datestart">
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn snaps-btngroup btn-prime" (click)="dateplanfrom.toggle()">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                                                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"></path>
                                                    </svg>
                                                </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-0 ln">
                                            <div class="col-md-3 lh-07e"><span class="text-danger">End</span><br>Date</div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="form-control text-danger fnb" name="dp" ngbDatepicker #dateplanfrom="ngbDatepicker" placeholder="{{dateformat}}" [(ngModel)]="cr.dateend">
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn snaps-btngroup btn-prime" (click)="dateplanfrom.toggle()">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                                                    <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"></path>
                                                    </svg>
                                                </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-0 ln">
                                            <div class="col-md-3 lh-07e"><span class="text-danger">State</span><br>Warehouse</div>
                                            <div class="col-md-3 ">
                                                <ui-switch checkedLabel="Active" uncheckedLabel="Inactive" size="small" color="#bbce00" [(ngModel)]="crstate"></ui-switch>
                                            </div>
                                            <div class="col-md-6">&nbsp;</div>
                                        </div>

                                        <div class="row mg-0 ln">
                                            <div class="col-md-6">
                                                <button type="button" class="btn snaps-danger btn-block mp" (click)="ngRemove()" *ngIf="crstate == false">
                                                <i class="fas fa-times-circle"></i>&nbsp;Delete Warehouse
                                            </button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn snaps-primary btn-block mp" (click)="ngUpsert()">
                                                <i class="fas fa-check-circle"></i>&nbsp;Save Warehouse
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
    </div>
</div>