<head>
  <title>Snaps WMS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body style="font-family: 'Sarabun','Montserrat', sans-serif;" class="bggrey">

  <!-- WRAPPER -->
  <div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-btn">
          <button type="button" class="btn-toggle-offcanvas "><i class="lnr lnr-menu"></i></button>
        </div>
        <!-- logo -->
        <div class="navbar-brand ">
          <div class="floatl">
            <a href="index.html"><img src="assets/images/logobgc_small.jpg" class="img-responsive logo img-rounded"></a>
          </div>

        </div>
        <div class="navbar-left pd-10">
          <div style="line-height: 1.2rem;">
            <span class="fn-1e2 fnb text-dark">Warehouse Management</span><br>
            <span class="fn-1e2 fnd text-muted">Snaps Solution Co,Ltd</span>
          </div>
        </div>
        <!-- end logo -->
        <!-- <div class="navbar-right">
            <select class="selectpicker pd-5 ">
                <option data-icon="fas fa-warehouse">91918</option>
            </select>
        </div> -->
      </div>
    </nav>
  </div>


  <div class="row  pdt-50 ">

    <div class="col-xs-4 mgt-10">
      <div class="form-group form-control-xs mg-0 pd-10">
        <label>HU.No</label>
        <input class="form-control fn-1e15 text-danger fnb" type="text" placeholder="" value="">
      </div>
    </div>

    <div class="col-xs-5 mgt-10">
      <div class="form-group form-control-xs mg-0 pd-10">
        <label>Barcode</label>
        <input class="form-control fn-1e15 text-danger fnb" type="text" placeholder="" value="">
      </div>
    </div>

    <div class="col-xs-3 mgt-10">
      <div class="form-group form-control-xs mg-0 pd-10">
        <label>Quantity</label>
        <input class="form-control fn-1e15 text-danger fnb" type="text" placeholder="" value="">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 mgt-10">
      <div class="propset fn-1e12 ">
        <div class="head">
          <div class="row mg-0 ln fn-1e15">
            <div class="col-xs-12 text-center">Preparation Detail  </div>
          </div>
        </div>
        <div class="line bgsub-head fnb " style="height: 304px;">
          <div class="row mg-0 ln ">
            <div class="col-xs-2"> <span class="text-dark fnb">Prep.No</span> </div>
            <div class="col-xs-7">
              <span class="text-danger fnb ">1219</span>
            </div>
            <div class="col-xs-3 text-center">
            </div>
          </div>
          <div class="row mg-0 ln ">
            <div class="col-xs-2"> <span class="text-dark fnb">HU.no</span> </div>
            <div class="col-xs-10"> <span class="text-danger fnb ">919180001995</span></div>
          </div>

          <div class="row mg-0 ln ">
            <div class="col-xs-2"> <span class="text-dark fnb">Inb.Order</span> </div>
            <div class="col-xs-9"> <span class="text-danger fnb ">80216854</span></div>
          </div>

          <div class="row mg-0 ln ">
            <div class="col-xs-2"> <span class="text-dark fnb">Product</span> </div>
            <div class="col-xs-9"> <span class="text-danger fnb ">102834103</span></div>
          </div>

          <div class="row mg-0 ln ">
            <div class="col-xs-2"> <span class="text-dark fnb">Name</span> </div>
            <div class="col-xs-9"> <span class="text-danger fnb ">H_โตชิบา ซผ 2ถัง13กก.VH-H140WT</span></div>
          </div>

          <div class="row mg-0 ln ">
            <div class="col-xs-2"> <span class="text-dark fnb">Start</span> </div>
            <div class="col-xs-10"> <span class="text-danger fnb "> -</span></div>
          </div>


          <div class="row mg-0 ln ">
            <div class="lsset fn-1e1 pd-0 ">
              <div class="head">
                <div class="row mg-0 ln fn-1e15">
                  <div class="col-xs-3 ">Location</div>
                  <div class="col-xs-5 ">Customer</div>

                  <div class="col-xs-2 text-right">Order</div>
                  <div class="col-xs-2 text-right">Prep.</div>
                </div>
              </div>

              <div class="line bgsub-head fn-1e1 " style="height: 304px;">
                <div class="row mg-0 ln  fnb">
                  <div class="col-xs-3 text-danger">XA0001</div>
                  <div class="col-xs-5 "><span class="text-danger">11108</span><br />สาขาที่ 3</div>
                  <div class="col-xs-2 text-center">1<br />SKU</div>
                  <div class="col-xs-2 text-center">1<br />SKU</div>
                </div>
              </div>

              <div class="head bd-0">
                <div class="row mg-0 ln fn-1e15">
                  <div class="col-xs-10 text-right">Summary</div>
                  <div class="col-xs-2  text-right text-danger">1</div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="head bd-0">
          <div class="row mg-0 ln fn-1e15">
            <div class="col-xs-4 text-right">Last mofify </div>
            <div class="col-xs-8  text-right text-danger">{{crprep?.datemodify }}</div>
          </div>
        </div>
      </div>


    </div>


  </div>





</body>
