<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets>

		<target name="database"
				xsi:type="Database"
				dbProvider="System.Data.SqlClient"
				connectionString="Server=desktop-2dakhvc,9999;Database=SnapsWMS_BGCTH;User Id=SnapsMe;Password=Snaps@BGC.THx#1WMS>18Dev"
				commandText ="insert into wm_logger(MachineName,Logged,Level,Message,Logger,Callsite,Exception,TaxId,TaxCode,TaxKey) values(@MachineName,@Logged,@Level,@Message,@Logger,@Callsite,@Exception,@TaxId,@TaxCode,@TaxKey)">
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
			<parameter name="@TaxId" layout="${event-properties:taxid}" />
			<parameter name="@TaxCode" layout="${event-properties:taxcode}" />
			<parameter name="@TaxKey" layout="${event-properties:taxkey}" />
		</target>

		<target xsi:type="File"
				name="logs"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${message}"
				archiveEvery="Day"
				archiveNumbering="Sequence" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="database" />
	</rules>
</nlog>