
<div class="bgsub-info">
    <div class="bgprime" style="height: 44px;background-color: #ffffff;border-bottom: 1px solid #e0e0e0;"> </div>
    <div class="container">        
        <div class="row " style="margin-top:-34px">
            <ul ngbNav #nav="ngbNav" [(activeId)]="crtab" class="nav-tabs" [destroyOnHide]="false">
                <li [ngbNavItem]="1">
                  <a ngbNavLink class="w150 fn fn-07e">Selection order</a>
                  <ng-template ngbNavContent>
                    <appoub-processdist-selection #chselection (selectOrder)="selorder($event)" (selectOrderall)="selorderall($event)"></appoub-processdist-selection>
                  </ng-template>
                </li>


                <li [ngbNavItem]="2">
                    <a ngbNavLink class="w150 fn fn-07e">Process order</a>
                    <ng-template ngbNavContent>
                        <appoub-processdist-operate #choperate (selecProcess)="selecprocess($event)"></appoub-processdist-operate>
                        
                    </ng-template>
                </li>

                <li [ngbNavItem]="3">
                    <a ngbNavLink class="w150 fn fn-07e">Process summary</a>
                    <ng-template ngbNavContent>
                        <appoub-processdist-summary #chsummary ></appoub-processdist-summary>
                    </ng-template>
                </li>
              </ul>
              
              <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
    </div>
</div>