<div class="bgsub-info">
    <div class="bgprime" style="height: 44px;background-color: #ffffff;border-bottom: 1px solid #e0e0e0;"> </div>
    <div class="container">        
        <div class="row " style="margin-top:-34px">
            <ul ngbNav #nav="ngbNav" [(activeId)]="crtab" class="nav-tabs" [destroyOnHide]="false">
                <li [ngbNavItem]="1">
                  <a ngbNavLink class="fn fn-07e">Zone Preparation for stocking area</a>
                  <ng-template ngbNavContent>
                    <app-maps-prep-zone-stock-area [dateformat]="dateformat" [dateformatlong]="dateformatlong" (ngOutvalue)="ngSelect($event)"></app-maps-prep-zone-stock-area>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink class="fn fn-07e">Stocking Zone&nbsp;<span class="text-danger">{{slczone}}</span>&nbsp;configuration</a>
                    <ng-template ngbNavContent>  
                    <app-maps-prep-zone-stock-line [dateformat]="dateformat" [dateformatlong]="dateformatlong" #sobline></app-maps-prep-zone-stock-line>
                    </ng-template>
                </li>
              </ul>
              
              <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
    </div>
</div>