.dgproduct { height:70px !important; }
.dgforms { height:150px !important; }
.dgstock { height:calc(100vh - 450px) !important; }
.ng-select.custom 
.ng-select-container { 
    background-color: #f8f8fa; 
    color: #333; 
    min-height: 25px !important; 
    height: 25px !important; 
    border-radius: 4px; 
    box-shadow: 0 0 1px #eeeeee; 
}

.text-right{
    text-align: right;
}
