<div class="row">
    <div class="row">

        <div class="col-md-7 fnb fn ">
            <span class="fn-palette-1">Master</span>&nbsp;<i class="fas fa-chevron-right fa-xs"></i>&nbsp;<span class="fn-palette-5"> Product</span>
        </div>

        <div class="col-md-2 text-right">
            <div class="d-grid gap-2">
            
                <ng-template #popContent>
                    <div  style="width:280px" class="fn fn-07e fnb">                                    

                        
                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Product Code</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " type="text" placeholder="Product code" [(ngModel)]="pm.article">
                            </div>
                        </div>
                    

                    
                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Description</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " type="text" placeholder="Product code" [(ngModel)]="pm.description">
                            </div>
                        </div>
                    

                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Product Type</div>
                            <div class="col-md-8">
                                <ng-select class="b text-danger"  class="custom custom-sm" bindLabel="desc" bindvalue="value" 
                                [clearable]="true"  [(ngModel)]="slcarticletype" [items]="msdthtype" >
                                <ng-template ng-label-tmp let-item="item"><span class="text-danger b">{{item.desc}}</span> </ng-template>
                                <ng-template ng-option-tmp let-item="item"><span class="text-danger b">{{item.desc}}</span> </ng-template>
                                </ng-select>
                            </div>
                        </div>

                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Third party</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " 
                                type="text" placeholder="Code or Name" [(ngModel)]="pm.thcode">
                            </div>
                        </div>

                       
                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Division</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " type="text" placeholder="Division" [(ngModel)]="pm.hdivison">
                            </div>
                        </div>
                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Department</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " type="text" placeholder="Code or Description" [(ngModel)]="pm.hdepartment">
                            </div>
                        </div>
                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Subdepartment</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " type="text" placeholder="Promotion" [(ngModel)]="pm.hsubdepart">
                            </div>
                        </div>
                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Class</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " type="text" placeholder="Remarks"  [(ngModel)]="pm.hclass">
                            </div>
                        </div>

                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Subclass</div>
                            <div class="col-md-8">
                                <input class="form-control form-control-sm  text-danger " type="text" placeholder="Remarks"  [(ngModel)]="pm.hsubclass">
                            </div>
                        </div>                       
                        <div class="row ln pd-5">
                            <div class="col-md-4 pdt-5">Measurement</div>
                            <div class="col-md-8">
                                <ui-switch checkedLabel="Active" uncheckedLabel="Inactive" size="small" color="#bbce00" [(ngModel)]="ismeasurement" ></ui-switch>
                            </div>
                        </div>
                        <div class="row   pd-5">
                            <div class="col-md-4">&nbsp;</div>
                            <div class="col-md-8">
                                <div class="d-grid gap-2">

                                    <button type="button" class="btn snaps-warning btn-block mp " (click)="fndproduct()">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                        </svg>
                                        &nbsp;
                                        Filter Inbound order
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #popTitle >
                    <div style="width:280px">
                        <span class="fn fn-08e fnb">Search parameter</span>
                    </div>
                </ng-template>
                <button type="button" class="btn btn-secondary snaps-btnblank fn-07e" placement="bottom" [autoClose]="'outside'" [ngbPopover]="popContent" [popoverTitle]="popTitle">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                    </svg> Parameters
                </button>

            </div>
        </div>

        <div class="col-md-3 ">
            <div class="input-group fnb">
                <input class="form-control fn-07e fnb text-danger "
                 placeholder="Product code or name"
                 [(ngModel)]="pm.article"
                 >
                <div class="input-group-append">
                <button type="button" class="btn snaps-btngroup btn-prime " (click)="fndproduct();" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                </div>
            </div>
        </div>

        
    </div>
</div>
<div class="row pdt-5">
    <div class="col-md-12">
        <div class="lsset fn-07e">
            <div class="head">
                <div class="row mg-0 ln ">
                    <div class="col-md-1 ">Article</div>
                    <div class="col-md-5 ">Desctiption</div>
                    <div class="col-md-1 tx-overflow ">Third party</div>
                    <div class="col-md-4 ">Name</div> 
                    <div class="col-md-1 ">State</div>
                </div>
            </div>
        
            <div class="line bgsub-head fnb dproduct ">
                <ng-scrollbar>
                    <div class="row mg-0 ln mpswitch " *ngFor="let ln of lsproduct | slice: (page-1) * pageSize : page * pageSize | orderBy: lssort : lsreverse;let i=index " 
                    [class.row-active]="i==artrowselect">
                        <div class="col-md-1 fnb text-danger tx-overflow">{{ln.article}} - {{ln.lv}}</div>
                        <div class="col-md-5">{{ln.descalt}}</div>
                        <div class="col-md-1 fnb text-danger">{{ln.thcode}}</div>
                        <div class="col-md-4 ">{{ln.thname}}</div>
                        <div class="col-md-1" (click)="selproduct(ln,i)">
                            <span [ngClass]="{'IO':'fas fa-check-circle fn-palette-1','XX':'fas fa-stop-circle text-danger','CL':'fas fa-ban text-danger','RM':'fas fa-exclamation-triangle text-danger'}[ln.tflow]"
                            ></span>
                        </div>
                    </div>
                </ng-scrollbar>
            </div>

            <div class="foot bgsub-head fnb pd-5">
                <div class="row mg-0">
                    <div class="col-md-2 pdt-5">
                        Total &nbsp; &nbsp;<span class="text-danger">{{lsproduct.length}}</span> &nbsp; &nbsp; Product
                    </div>
                    
                    <div class="col-md-1 text-right lh-08e">
                        <div class="fn-06e fnb text-danger">Row Limit</div>
                        <div class="fn-06e">Per Page</div>
                    </div>
                    <div class="col-md-2">

                        <ng-select class=" text-danger"  class="custom custom-sm" bindLabel="value" bindvalue="value" 
                                    [clearable]="false"  [(ngModel)]="slrowlmt" [items]="lsrowlmt" (change)="changerowlmt()" >
                            <ng-template ng-label-tmp let-item="item"><span class="text-danger b">{{item.value}}</span> </ng-template>
                            <ng-template ng-option-tmp let-item="item"><span class="text-danger b">{{item.value}}</span> </ng-template>
                        </ng-select>
                    
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="lsproduct.length" class="d-flex justify-content-end" ></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
